@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Poppins:wght@500;600;700&display=swap');

:root {
    --font-size-text: 14px;
    --font-size-button: 15px;
    --font-size-title: 40px;

    --headline-font: 'Poppins', sans-serif;
    --copy-font: 'Nunito', sans-serif;
    --main-text-color: #000;
    --secondary-text-color: #fff;
    --bg-color-loader: #f3f2f3;


}

body {
    margin: 0;
    font-family: var(--copy-font);
}

img {
    width: 100%;
    height: auto;
    display: flex;

}

* {
    box-sizing: border-box;
}

/* NAVIGATION */

h1,
h2,
h4 {
    text-transform: uppercase;
    font-weight: 900;
}

header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: bolder;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: var(--font-size-button);
    padding: 0;
}

nav li {
    list-style: none;
    padding: 8px 12px;
    text-transform: uppercase;
}

nav li a {
    text-decoration: none;
    color: var(--secondary-text-color);
    font-weight: bolder;

}

/*LOADER*/


.load {
    position: absolute;
    z-index: 10;
    background-color: var(--bg-color-loader);
    width: 100vw;
    height: 100vw;

}

#loader-dots {
    margin-left: 46%;
}

#loader-dots span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin: 250px 5px;
    opacity: 0;

}

#loader-dots span:nth-child(1) {
    animation: opacitychange 1s ease-in-out infinite;
}

#loader-dots span:nth-child(2) {
    animation: opacitychange 1s ease-in-out 0.33s infinite;
}

#loader-dots span:nth-child(3) {
    animation: opacitychange 1s ease-in-out 0.66s infinite;
}

@keyframes opacitychange {

    0%,
    100% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }
}

/* FOOTER */
footer {
    background-color: #F3F2F3;
    padding: 10px;
}

#footer-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#footer-container > div {
    margin: 10px 50px;
    width: 200px;
}

footer img {
    max-width: 80px;
}

footer p {
    color: var(--main-text-color);
    text-align: center;
    font-size: 12px;
    font-weight: 900;
    margin: 0;
}

footer h4 {
    margin: 6px 0;
}

footer ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}

.contact ul li {
    margin-top: 10px;
}

.contact ul {
    margin-top: 0;
}

footer li a,
.some-icons a {
    color: var(--main-text-color);
    text-decoration: none;

}

footer li a:visited,
.some-icons a:visited {
    color: rgb(61, 61, 61);
}

footer .fa,
footer .fab {
    color: var(--main-text-color);
    font-size: 18px;
    margin-right: 10px;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-pinterest:hover {
    color: #c8232c;
}

.fa-youtube:hover {
    color: #c4302b;
}

@media (min-width: 1053px) {
    footer {
        background-color: transparent;
        background-image: url("../img/footwave.svg");
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 140px;
        padding-bottom: 10px;
    }
}

@media (min-width: 1000px) {

    header {
        justify-content: space-between;
    }

    #footer-container {
        justify-content: space-around;
    }

}
