@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Poppins:wght@500;600;700&display=swap');

:root {
    --font-size-text: 14px;
    --font-size-button: 15px;

    --button-border-radius: 4px;

    --font-size-title: 40px;
    --headline-font: 'Poppins', sans-serif;
    --line-height-headline: 40px;
    
    --copy-font: 'Nunito', sans-serif;
    --main-text-color: #000;
    --secondary-text-color: #fff;
    --bg-color-loader: #f3f2f3;
}

.active {
    background: var(--accent-colour) !important;
}

/* FILTERING */
.hide {
    display: none;
}

body {
    margin: 0;
    font-family: var(--copy-font);
}

img {
    width: 100%;
    height: auto;
    display: flex;
}

* {
    box-sizing: border-box;
}

/* NAVIGATION */

h1,
h4 {
    text-transform: uppercase;
    font-weight: 900;
}

header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: bolder;
}

 nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: var(--font-size-button);
    padding: 0;
    margin: 0;
}

nav li {
    list-style: none;
    padding: 8px 12px;
    text-transform: uppercase;
    text-align: right;
}

nav li a {
    text-decoration: none;
    color: var(--secondary-text-color);
    font-weight: bolder;
    display: block;
    width: 100%;
} 

nav ul li:hover {
    background-color: var(--accent-colour);
    transition: color .8s;
}

a {
    text-decoration: none;
}

.btn {
    color: var(--secondary-text-color);
    background: var(--accent-colour);
    cursor: pointer;
    border: 1px solid transparent;
}

.btn:hover {
    background: none;
    border: 1px solid var(--accent-colour);
}

/*LOADER*/


.load {
    position: absolute;
    z-index: 999;
    background-color: var(--bg-color-loader);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#loader-dots span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    opacity: 0;
}

#loader-dots span:nth-child(1) {
    animation: opacitychange 1s ease-in-out infinite;
}

#loader-dots span:nth-child(2) {
    animation: opacitychange 1s ease-in-out 0.33s infinite;
}

#loader-dots span:nth-child(3) {
    animation: opacitychange 1s ease-in-out 0.66s infinite;
}

@keyframes opacitychange {

    0%,
    100% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }
}

/* FOOTER */
footer {
    background-color: #F3F2F3;
    padding: 10px;
}

#footer-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

#footer-container > div {
    margin: 10px 50px;
    width: 175px;
}

footer img {
    max-width: 80px;
}

footer p {
    color: var(--main-text-color);
    text-align: center;
    font-size: 12px;
    font-weight: 900;
    margin: 0;
}

footer h4 {
    margin: 6px 0;
}

footer ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}

.contact ul li {
    margin-top: 10px;
}

.contact ul {
    margin-top: 0;
}

footer li a,
.some-icons a {
    color: var(--main-text-color);
    text-decoration: none;

}

footer li a:visited,
.some-icons a:visited {
    color: rgb(61, 61, 61);
}

footer .fa,
footer .fab {
    color: var(--main-text-color);
    font-size: 18px;
    margin-right: 10px;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-pinterest:hover {
    color: #c8232c;
}

.fa-youtube:hover {
    color: #c4302b;
}

@media (min-width: 1053px) {
    .toggle {
        visibility: hidden;
    }

    nav ul li:hover {
        background-color: transparent;
    }

    nav ul li a:hover {
        color: var(--accent-colour);
    }

    .btn {
        border-radius: var(--button-border-radius);
    }

    header {
        justify-content: space-between;
    }

    footer {
        background-color: transparent;
        background-image: url("../img/footwave.svg");
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 140px;
        padding-bottom: 10px;
    }
}

@media (min-width: 1000px) {

    #footer-container {
        justify-content: space-around;
    }

}

@media (max-width: 1053px) {
    .menu-wrapper {
        position: fixed;
        right: 10px;
        top: -10px;
        width: 40px;
        height: 40px;
    }
    
    .menu-wrapper .toggle {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 0;
        right: 0;
        z-index: 999;
        cursor: pointer;
        opacity: 0;
    }
    
    .menu-wrapper .hamburger {
        position: absolute;
        width: 45px;
        height: 45px;
        top: 15px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 998;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: 10px;
        transition: all 0.5s ease-in-out;
    }
    
    .menu-wrapper .hamburger .bar {
        position: relative;
        width: 45px;
        height: 3px;
        background-color: white;
        z-index: 10;
        border-radius: 20px;
    }
    
    .menu-wrapper .hamburger .bar:before,
    .menu-wrapper .hamburger .bar:after {
        content: "";
        position: absolute;
        top: -8px;
        width: 100%;
        height: 3px;
        background-color: white;
        transition: all 0.2s linear;
        border-radius: 20px;
    }
    
    .menu-wrapper .hamburger .bar:after {
        top: 8px;
        width: 70%;
        right: 0;
    }
    
    
    .menu-wrapper .toggle:hover + .hamburger {
        transform: rotate(25deg);
    }
    
    .menu-wrapper .toggle:checked + .hamburger {
        transform: rotate(-45deg);
    }
    
    .menu-wrapper .toggle:checked:hover + .hamburger {
        transform: rotate(-125deg);
    }
    
    .menu-wrapper .toggle:checked + .hamburger .bar:before,
    .menu-wrapper .toggle:checked + .hamburger .bar:after {
        top: 0;
        transform: rotate(90deg);
    }
    
    .menu-wrapper .toggle:checked + .hamburger .bar {
        width: 50%;
    }
    
    .menu-wrapper .toggle:checked + .hamburger .bar:after  {
        left: 2px;
    }
    
    .menu {
        position: fixed;
        top: 0;
        right: 0;
        opacity: 0;
        width: 0;
        height: 0;
        overflow: hidden;
        background-color: var(--background-colour);
        z-index: 900;
        transition: all 0.5s ease-in-out;
        display: block;
        padding-top: 50px;
    }
    
    .menu ul {
        padding: 0;
    }
    
    .menu ul li {
        color: aqua;
        font-size: 20px;
        list-style-type: none;
        text-align: center;
        margin: 0;
        cursor: pointer;
        border-bottom: 2px solid transparent;
    }
    
    .menu ul li a {
        display: block;
        transition: 0.5s ease-in-out;
        background-color: #222222;
    }
    
    .menu-wrapper {
        z-index: 999;
    }
    
    .menu-wrapper .toggle:checked + .hamburger + .menu {
        opacity: 1;
        width: 170px;
        height: 100%;
    }
}
