:root {
    --accent-colour: orange;
}

#loader-dots span {
    background-color: var(--accent-colour);
}

.background_image {
    background-color: #30A7B0;
    padding: 30px 60px;
}

.btn {
    background: var(--accent-colour);
    color: white;
    cursor: pointer;
    border-radius: var(--button-border-radius);
    border: 1px solid transparent;
}

.btn:hover {
    background: none;
    border: 1px solid var(--accent-colour);
}

.hero_content {
    margin: auto;
    color: white;
}

.hero_content h1 {
    margin-bottom: 0;
    font-size: var(--font-size-title);
    font-family: var(--headline-font);
    line-height: var(--line-height-headline);
}

.grid h2 {
    text-align: center;
    font-family: var(--headline-font);
    font-weight: 900;
}

.grid h2:first-child, .grid h2:nth-child(4), .grid h2:nth-child(8), .grid h2:nth-child(11) {
    margin: 40px auto;
    margin-bottom: 0;
    border-radius: 2px;
    width: 40px;
    height: auto;
    padding: 2px 8px;
    background-color: black;
    color: white;
}

.grid h3 {
    text-align: center;
    margin: 6px auto;
    margin-bottom: 20px;
    background-color: orange;
    color: white;
    padding: 2px;
}

.solution {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 900px;
    margin: auto;
}

.solution > div {
    margin: 0 10px 20px 10px;
    padding: 20px;
    background-color: rgb(227, 234, 236);
    border-radius: 20px;
    max-width: 400px;
}

.solution img {
    border-radius: 20px;
}

/* STEP 2*/

.hardware {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
}

.recommended_hardware {
    max-width: 500px;
    margin: 20px;
}

.tables {
    margin: 20px;
}

.tables .manico {
    max-width: 200px;
    margin: auto;
    margin-bottom: 10px;
}

.center {
    display: flex;
    justify-content: center;
}

.tables button, .recommended_hardware button {
    background: orange;
    color: white;
    outline: none;
    border: none;
    padding: 8px 12px;
    width: 120px;
    font-weight: 900;
    border-radius: var(--button-border-radius);
}

.tables_images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 580px;
}

.tables_images img {
    max-width: 280px;
    margin: auto;
}

table {
    border-collapse: separate;
    border-spacing: 0 5px;
}

table th {
    background: orange;
    color: white;
    padding: 6px 10px;
    text-align: left;
    margin-left: 20px;
}

table td {
    padding-left: 5px;
}

.recommended_hardware img {
    max-width: 400px;
    margin: 20px auto;
}

.or {
    font-size: 30px;
    margin: 20px;
    font-weight: 900;
}

.recommended_hardware h4 {
    margin-top: 0;
    font-weight: 900;
}

/* GET THE GAMES */

.games {
    margin: 20px;
}

.games p:first-of-type {
    max-width: 480px;
    margin: auto;
    margin-bottom: 20px;
}

.packages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.package {
    text-align: center;
    width: 280px;
    padding: 20px;
    margin: 15px;
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(140, 140, 140, 1);
    -moz-box-shadow: 0px 0px 7px 0px rgba(140, 140, 140, 1);
    box-shadow: 0px 0px 7px 0px rgba(140, 140, 140, 1);
    position: relative;
}

.package ul {
    list-style: none;
    padding: 0;
}

.package ul li:nth-child(odd) {
    background-color: lightblue;
}

.package p:last-of-type {
    padding: 8px 12px;
    border-left: 0.5px solid grey;
    max-width: 180px;
}

.package button, .support button, .community button {
    font-weight: 900;
    background-color: orange;
    color: white;
    outline: none;
    border: none;
    padding: 8px 12px;
    border-radius: var(--button-border-radius);
}

button:hover {
    transition: all 0.5s;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.support, .community {
    max-width: 480px;
    margin: 20px;
}

.community {
    padding: 20px;
}


@media (min-width: 530px) {
    .support, .community {
        margin: auto;
    }
}


@media (min-width: 676px) {
    .basic_price {
        position: absolute;
        bottom: 55px;
        left: 50%;
        transform: translateX(-50%);
        width: 180px;
    }
    
    .basic {
        position: absolute;
        bottom: 20px;
        left: 0%;
        right: 0;
        margin: auto;
    }

    .hero_content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .hero_content > div {
        max-width: 300px;
    }
}

@media (min-width: 1200px) {
    .background_image {
        background: url("../img/how-it-works.svg");
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 20px;
        height: 440px;
    }

    .hero_content {
        margin-top: 50px;
        justify-content: space-evenly;
    }

    .hero_content > div {
        max-width: 420px;
    }
}