:root {
    --accent-colour: orange;
    --background-colour: #5959FF;
}

#loader-dots span {
    background-color: var(--accent-colour);
}

.background_image {
    background-color: var(--background-colour);
    padding: 30px 60px;
}

.btn {
    background: var(--accent-colour);
    color: white;
    cursor: pointer;
    border-radius: var(--button-border-radius);
    border: 1px solid transparent;
}

.btn:hover {
    background: none;
    border: 1px solid var(--accent-colour);
}

.hero_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}

.hero_content h1 {
    margin: auto;
    font-size: 35px;
    font-family: var(--headline-font);
    line-height: var(--line-height-headline);
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

main img {
    width: auto;
    margin: 15px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(140, 140, 140, 1);
    -moz-box-shadow: 0px 0px 7px 0px rgba(140, 140, 140, 1);
    box-shadow: 0px 0px 7px 0px rgba(140, 140, 140, 1);
}

.categories {
    background: var(--background-colour);
    border-radius: 2px;
    text-align: center;
    width: calc(100% - 30px);
    margin: 20px auto;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.categories button {
    outline: none;
    border: none;
    background: none;
    color: white;
    width: 238px;
    padding: 4px;
    cursor: pointer;
    margin: 5px;
    text-transform: capitalize;
}

.categories button:hover {
    background-color: var(--accent-colour);
}

@media (min-width: 700px) {
    .hero_content h1 {
        max-width: 420px;
    }

    .hero_content p {
        max-width: 420px;
        margin: 10px auto;
    }

    .categories button {
        width: calc(20% - 10px);
    }
}

@media (min-width: 860px) {
    .hero_content {
        margin-top: 20px;
    }
}

@media (min-width: 1200px) {
    .background_image {
        background: url("../img/poster-header.svg");
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 20px;
        height: 440px;
    }

    .hero_content {
        max-width: 1100px;
        margin: auto;
        margin-top: 50px;
    }

    .hero_content h1 {
        font-size: var(--font-size-title);
        max-width: 440px;
    }

    main {
        max-width: 1210px;
        margin: 20px auto;
        justify-content: flex-start;
    }
}